:root {
  font-family: "Roboto Condensed Variable", system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  --primary-txt-color: #25291C;
  --emphasis-txt-color: #5171A5;
  --hover-color: #DE3C4B;
}

body {
  min-width: 320px;
  min-height: 100vh;
}