:root {
  font-family: "Roboto Condensed Variable", system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  --primary-txt-color: #3a3335;
  --emphasis-txt-color: #b4a0e5;
  --hover-color: #5b8e7d;
}

body {
  min-width: 320px;
  min-height: 100vh;
}

img {
  width: 30%;
}

a:hover {
  color: var(--emphasis-txt-color);
}